<h2><%= @channel.name %></h2>

<div class="row">
<%- index = 0 -%>
<% @hash['list']['story'].each do |story| -%>
  <% next unless story['song'] %>
  <%- index += 1 -%>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="music-box">
      <h3><%= story['song'][0]['album']['albumArtist']['$text'] %></h3>
      <% if story['song'][0]['album']['coverUrl']['$text'] and story['song'][0]['album']['coverUrl']['$text'] != 'N/A'%>
        <p><%= image_tag "http://www.npr.org/#{story['song'][0]['album']['coverUrl']['$text']}", width: '250'%></p>
      <% elsif story['image'][0]['src'] %>
        <p><%= image_tag "#{story['image'][0]['src']}", width: '250'%></p>
      <% elsif story['thumbnail']['large']['$text'] %>
        <p><%= image_tag "#{story['thumbnail']['large']['$text']}", width: '250'%></p>
      <% end %>
      <ul>
        <% story['audio'].each do |audio| %>
          <% next unless audio['title'] and audio['format']['mp3'] %>
          <% audio['format']['mp3'].each do |format| %>
            <% next unless format['type'] == 'mp3' %>
            <li>
              <div class="song-title"><%= link_to audio['title']['$text'], format['$text'] %></div>
              <div class="audio-player"><%= audio_tag(format['$text'], autoplay: false, controls: true, title: audio['title']['$text']) %></div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <br />
      <%= link_to 'View on NPR', story['link'][0]['$text'], class:'btn btn-default btn-lg btn-block', role:'button', target:'_blank' %>
    </div><!-- end .music-box -->
  </div>
  <%- if index.modulo(2).zero? %>
    <div class="clearfix visible-sm-block"></div>
  <% end %>
  <%- if index.modulo(3).zero? %>
    <div class="clearfix visible-md-block visible-lg-block"></div>
  <%- end %>
<%- end %>
</div><!-- end row -->
