<!DOCTYPE html>
<html>
<head>
  <title>NPR-O-MATIC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <div class="container">
      <h1><a href="/">NPR-O-MATIC</a></h1>
      
      <nav>
        <ul>
          <li><a href="/">home</a></li>
	      <% Channel.all.each do |channel| %>
		    <li><%= link_to channel.name, channel_path(channel) %></li>
	      <%- end %>
        </ul>
      </nav>
      
    </div>
  </header>

  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <footer>
    <div class="container">
	  <div class="row">
	  
        <div class="col-xs-12 col-sm-4 col-md-4">
          <p>NPR-O-MATIC is created, written by, and maintained by Sarvin Coachbuilder and a team of swell people. It was built as a side project to learn cool, new stuff. Check us out on <a href="#" target="_blank">GitHub</a>.</p>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-8">
          <ul class="footer-nav">
            <li><a href="/">home</a></li>
	        <% Channel.all.each do |channel| %>
		      <li><%= link_to channel.name, channel_path(channel) %></li>
	        <%- end %>
          </ul>
		  <div class="footer-byline">NPR-O-MATIC &copy; 2016 The people that worked on this project. All Rights Reserved.</div>
	    </div>
	    
      </div>
    </div>
  </footer>

</body>
</html>
